<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="false"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="API_LOG_THROWABLE" value="false"/>
        <env name="API_LOG_RENDERED" value="false"/>
        <env name="API_LOG_MISSING_TRANSLATIONS" value="false"/>
    </php>
</phpunit>
